<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qrolic.reminderapp">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- Open  Alarm activity in android Q -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- For device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- call phone -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReminderApp">
        <activity android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CalendarDayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BootActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.AlarmActivity"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity android:name=".activity.AddNewReminder"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ReminderApp.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".util.MyBroadCastReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ads_application_id"/>
    </application>

</manifest>